.minimap{
    .DustXboxFromT{
        left: 327px;
        top: 270px;
    }

    .DustCtFromMid{
        left: 335px;
        top: 155px;
    }

    .DustLongCornerFromT{
        left: 580px;
        top: 312px;
    }

    .DustMidDoorsFromT{
        left: 295px;
        top: 240px;
    }
}