.InfernoCoffinsFromBanana{
	left: 360px;
	top: 78px;
}
.InfernoCtFromBanana{
	left: 427px;
	top: 142px;
}
.InfernoShortFrom2mid{
	left: 497px;
	top: 493px;
}
.InfernoLongFrom2mid{
	left: 495px;
	top: 425px;
}
.InfernoMotoFromMid{
	left: 625px;
	top: 425px;
}