.MirageAsideFromT{
	left: 380px;
	top: 500px;
}
.MirageExitPalaceFromPalace{
	left: 450px;
	top: 510px;
}
.MirageJungeFromPit{
	left: 350px;
	top: 437px;
}
.MirageStairsFromT{
	left: 377px;
	top: 432px;
}
.MirageTicketFromT{
	left: 320px;
	top: 545px;
}